.viminfo
projects
local
Downloads
Desktop
.local/
*.swp
scratch/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
VirtualBox VMs/
.fontconfig/
.Trash/
.macports/history
.links/
.jenkins/
.ssh/
.DS_Store
.android
.bash_history
octave-core
.weinre
